@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap'); */

body {
  --fangs-bg: #550001;
  --fangs-fg: #fff;
  --portrait-line-color-1: #fff2;
  --portrait-line-color-2: #0001;
  --portrait-line-spacing: 3px;
  --portrait-line-width: 3px;
}

.window-app .window-content {
  --base-opacity: 0.85;
  --opacity-step: 0.03;
  background-image: 
  /* repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, var(--base-opacity)),
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 2)) 20px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 3)) 20px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 5)) 40px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 4)) 40px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 2)) 60px
    ), */
    url(../assets/marjanblan-5Ft4NWTmeJE-unsplash.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* color: var(--color-text-light-primary); */
  color: rgb(19, 24, 36);
  box-shadow: inset 0 0 200px 0 #fff;
}


* #harm-armor #character-harm table th,
* .label-stripe, 
* #attributes .stripe,
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"],
* .black-label,
* .big-teeth-section .big-teeth label[for$="-0"]
{
  background-color: var(--fangs-bg);
  background-image: url(../assets/nice_red_agents.webp);
  color: var(--fangs-fg);
}

* .big-teeth-section {
  border-top: 3px solid var(--fangs-bg);
}

* #attributes .attributes-container input:checked + label,
* #attributes .attributes-container label {
  background-color: var(--fangs-bg);

}

#name-alias > img {
  width: 166px;
  height: 166px;
}

#portrait {
  width: 155px;
  height: 200px;
  box-shadow: 3px 3px 6px 0 #00000082, 0 0 2em 0 #7779 inset;
  margin-right: 24px;
  transform: rotate(-2deg);
  background-position: center;
  background-size: cover;
  background-image: 
    /* linear-gradient(155deg, #fff7, #fff0 20%, #fff0 40%, #fff7 50%, #fff0 60%, #fff0 80%,#fff7 100%), */
    repeating-linear-gradient(
      to bottom,
      var(--portrait-line-color-1),
      var(--portrait-line-color-1) var(--portrait-line-spacing),
      var(--portrait-line-color-2) var(--portrait-line-spacing),
      var(--portrait-line-color-2) calc(var(--portrait-line-spacing) + var(--portrait-line-width))
    ),
    var(--portrait-image)
    ;
  filter: grayscale(100%);
  border: 6px solid #fff;
  border-bottom-width: 15px;
}

.window-app, 
#sidebar, 
.main-controls li, 
.sub-controls li, 
#players, 
#hotbar > *,
#navigation a,
#navigation li { 
  backdrop-filter: blur(10px);
  /* background-image: linear-gradient(to bottom, #000b 0%, #0006 100%); */
  background-image: linear-gradient(
    /* to bottom, #4009 0%, #2009 100% */
    180deg,
    hsl(0deg 100% 13% / 80%) 0%,
    hsl(0deg 100% 7% / 80%) 50%,
    hsl(0deg 0% 0% / 80%) 100%
  );
  /* mix-blend-mode: darken; */
}

/* .window-app {
  box-shadow: 0 0 20px #f00;
} */


* {
  font-family: "Noto Sans Mono", monospace;
  font-variant: small-caps;
  /* font-family: 'Unica One', sans-serif; */
  font-weight: 500;
}


/*
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.25) 20px,
      rgba(255, 255, 255, 0.3) 20px,
      rgba(255, 255, 255, 0.35) 40px,
      rgba(255, 255, 255, 0.3) 40px,
      rgba(255, 255, 255, 0.25) 50px
      */