@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&display=swap");
.window-app .window-content {
  --base-opacity: 0.2;
  --opacity-step: 0.07;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, var(--base-opacity)),
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 2)) 20px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 3)) 20px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 5)) 40px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 4)) 40px,
      rgba(255, 255, 255, calc(var(--base-opacity) + var(--opacity-step) * 2)) 60px
    ),
    url(../assets/jarrod-erbe-dmJuppvEZu4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* color: var(--color-text-light-primary); */
  color: rgb(19, 24, 36);
}

* {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
}


/*
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.25) 20px,
      rgba(255, 255, 255, 0.3) 20px,
      rgba(255, 255, 255, 0.35) 40px,
      rgba(255, 255, 255, 0.3) 40px,
      rgba(255, 255, 255, 0.25) 50px
      */